body
{
    width:100%;
    max-width: 1500px;
    padding: 30px;
    margin-bottom: 20px;
    background-color: #333;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}


/* Общие стили */
body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('staryj.jpg'); /* Путь к твоей картинке */
    background-color: #fdf6e3;
    background-size: cover; /* Изображение заполняет весь экран */
    background-position: center; /* Центрирование изображения */
    background-attachment: fixed; /* Фон фиксирован при прокрутке */
    color: #586e75;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}



h1, h2, h3 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Тень для текста */
    border-radius: 5px;
    border-left: 5px solid #93a1a1;
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачный черный фон */
    padding: 20px;
    border-radius: 10px; /* Скругленные углы */
    margin: 20px;
}

/* Стили для заголовков */
h1 {
    color: #b58900;
    border-bottom: 2px solid #b58900;
    padding-bottom: 10px;
    text-align: left;
    margin: 20px;
}

h2 {
    color: #2aa198;
    text-align: left;
    margin: 10px 20px;
}

h3 {
    color: #cb4b16;
    margin-left: 20px;
}

/* Стили для абзацев */
p {
    margin: 10px 20px;
    text-indent: 20px;
    text-align: left;
}

/* Стили для списка */
ul {
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2); /* Прозрачный белый фон */
   /* background-color: #eee8d5; */
    border-radius: 5px;
    border-left: 5px solid #93a1a1;
}

ul li {
    padding: 5px;
    margin-bottom: 5px;
}

/* Стили для ссылки */
a {
    color: #d33682;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #6c71c4;
}

/* Стили для header */
header {
    background-color: #073642;
    color: #fdf6e3;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
}

/* Стили для footer */
footer {
    background-color: #002b36;
    color: #fdf6e3;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    position: relative;
    width: 100%;
}
